body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color:#0066ff;
}

.hero {
  background-image: url("images/zagreb.jpeg");
  height: 350px;
  background-size: cover;
  background-position: center;
  padding: 120px;
}

.header {
  margin: 0;
  padding: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title {
  margin: 0px;
  padding: 25px;
  color: #122B4F;
  font-size: 85px; 
  text-shadow: 0 5px 25px #ffff;
}

#title-text {
  padding: 15px;
  font-size: 30px;
  color: #122B4F;
  margin: 0;
  background: #ffff;
  border: 5px solid #0066ff;
  border-radius: 15px;
 
}

.activities{
  margin-bottom: 75px;
}
#activities-title {
  text-align: center;
  padding: 10px;
  font-size: 35px;
  color: #ffff;
}

.activities-container {
  display: flex;
  justify-content: space-around;
  color: #ffff;
  font-size: 25px;
}

.avatar {
  width: 150px;
  padding: 15px;
}



.guide{
width: 400px;
 margin: auto auto;
 padding: 30px;
 display: flex;
 justify-content: space-around;
 text-align: center;
 background: #122B4F;
 color:#ffff;

}

.border {
  border: 3px dotted #0066ff ;
}


img {
  width: 200px;
  border: 4px solid #122B4F; 
  height: 200px;
  border-radius: 50%;
  opacity: 1.0;
}